# Site settings
title: Fedora Developer Portal
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://developer.fedoraproject.org" # the base hostname & protocol for your site
twitter_username: jekyllrb
github_username:  jekyll
encoding: utf-8

# Build settings
markdown: kramdown

# Dependencies
gems:
  - jekyll-lunr-js-search
  - jekyll-sitemap

# Special kramdown settings
kramdown:
  input: GFM
  # This is important to keep the new lines in block codes.
  hard_wrap: false

# Let's not ship any of these unnecessary files
exclude:
  - Dockerfile
  - Vagrantfile
  - CONTRIBUTING.md
  - README.md
  - "*.sh"
  - "*.rb"
  - "*.txt"
  - "static/**/*.html"
  - "**/LICENSE"
  - "**/LICENSE-MIT"
  - "**/README.md"
  - "**/Readme.md"
  - "**/CONTRIBUTING.md"
  - "**/COPYING"
  - "**/README.md"

defaults:
  -
    scope:
      path: "content"
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: "content/start"
      type: "pages"
    values:
      highlight_section: "start"
  -
    scope:
      path: "content/tools"
      type: "pages"
    values:
      highlight_section: "tools"
  -
    scope:
      path: "content/tech"
      type: "pages"
    values:
      highlight_section: "tech"
  -
    scope:
      path: "content/deployment"
      type: "pages"
    values:
      highlight_section: "deployment"
