---
layout: section
highlight_section: deployment
title: Deploy and distribute
description: Package as an RPM. Distribute with Copr. Deploy to OpenShift.
section: deploy
category-name: deploy
attribution: Minotaur Rocket Launch at NASA Wallops by NASA Goddard Space Flight Center on Flickr, CC-BY-2.0
photo-link: https://www.flickr.com/photos/gsfc/5890869490/
---
<div class="row">
  {% for p in site.pages %}
  {% if p.section == "deployment" %}
  <div class="col-sm-6">
    <a class="panel-link" href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img style="width:100px" src="{{ p.page | page_logo }}">
            </div>
            <div class="media-body">
              <h2>{{ p.title }}</h2>
              <p>{{p.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
