---
layout: section
highlight_section: deployment
title: Deploy and distribute
description: Package as an RPM. Distribute with Copr. Deploy to OpenShift.
section: deploy
category-name: deploy
attribution: Minotaur Rocket Launch at NASA Wallops by NASA Goddard Space Flight Center on Flickr, CC-BY-2.0
photo-link: https://www.flickr.com/photos/gsfc/5890869490/
---
<div class="row">
  {% for p in site.pages %}
  {% if p.section == "deployment" %}
    {% include content-link-panel.html %}
  {% endif %}
  {% endfor %}
</div>
 
