---
layout: general
highlight_section: home
---

<div class="row text-center">
  <div class="col-sm-12">
    <h1> Start your project with ease.</h1>
    <p> Get the insights and recommendations on how to start a new project and how to collaborate effectively. </p>
    <a href="/start.html" class="btn btn-default">Browse the Options</a>
  </div>
</div>

</div><hr><div class="container">

<div class="row text-center">
  <div class="col-sm-12">
    <h1> Fedora helps you with every step of development. </h1>
    <p> Search trough the guides. Fedora offers a rich set of tools and technology to make your project successful. Share your app, deploy your service, collaborate with others.</p>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img style="height:200px" src="/static/homepage/tools.png">
      <div class="caption">
        <h2> Powerful Tools </h2>
        <a href="/tools.html" class="btn btn-default">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img style="height:200px" src="/static/homepage/tech.png">
      <div class="caption">
        <h2> New Technology </h2>
        <a href="/tech.html" class="btn btn-default">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img style="height:200px" src="/static/homepage/deploy.png">
      <div class="caption">
        <h2> Fast Deployment </h2>
        <a href="/deployment.html" class="btn btn-default">Learn more</a>
      </div>
    </div>
  </div>
  <div class="row">
      {% for p in site.pages %}
	      {% if p.section == "tech-languages" %}
	      <div class="media-left">
	          <img style="height:80px" src="{{ p.page | page_logo }}">
	      </div>
	      <div class="media-body">
	          <h3>{{ p.title }}</h3>
	          <h3>{{ p.version }}</h3>
	      </div>
	      {% endif %}
      {% endfor %}
  </div>
</div>
