---
layout: general
highlight_section: start
title: Start a Project
description: Guides for creating software and hardware projects as well as information on project collaboration.
layout: general
section: start
category-name: start
attribution: Tools of the Trade by Cat Burston on Flickr, CC-BY-2.0
photo-link: https://www.flickr.com/photos/catt1788/6335937959/
---
<div class="row">
  <div class="col-sm-12">
    <h2> Application </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "start-sw" %}
  <div class="col-sm-6">
    <a href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img src="{{ p.page_logo }}">
            </div>
            <div class="media-body">
              <h2>{{ p.title }}</h2>
              <p>{{ p.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
  <div class="col-sm-12">
    <h2> Collaboration </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "start-tips" %}
  <div class="col-sm-6">
    <a href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img src="{{ p.page_logo }}">
            </div>
            <div class="media-body">
              <h2>{{ p.title }}</h2>
              <p>{{ p.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
  <div class="col-sm-12">
    <h2> Hardware Devices </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "start-hw" %}
  <div class="col-sm-6">
    <a href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img src="{{ p.page_logo }}">
            </div>
            <div class="media-body">
              <h2>{{ p.title }}</h2>
              <p>{{ p.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

