---
layout: section
highlight_section: start
title: Start a project
description: How to do web, mobile, Arduino, and RaspberryPi development on Fedora.
section: start
category-name: start
attribution: Tools of the Trade by Cat Burston on Flickr, CC-BY-2.0
photo-link: https://www.flickr.com/photos/catt1788/6335937959/
---
<div class="row">
  <div class="col-sm-12">
    <h2> Software Application Creation Guides </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "start-sw" %}
    {% include content-link-panel.html %}
  {% endif %}
  {% endfor %}
  <div class="col-sm-12">
    <h2> Hardware Device Project Creation Guides </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "start-hw" %}
    {% include content-link-panel.html %}
  {% endif %}
  {% endfor %}
  <div class="col-sm-12">
    <h2> Project Collaboration Guides </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "start-tips" %}
    {% include content-link-panel.html %}
  {% endif %}
  {% endfor %}
</div>
