---
layout: section
highlight_section: tech
title: Languages &amp; databases
description: Languages and their modules available in Fedora. Installing databases and their configuration.
section: tech
category-name: tech
attribution: Silk Reeling Machine at Tomioka Silk Mill by aotaro on Flickr, CC-BY-2.0
photo-link: https://www.flickr.com/photos/aotaro/20952868875/
---

<div class="row">
  <div class="col-sm-12">
    <h2> Languages </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "tech-languages" %}
  <div class="col-sm-6">
    <a class="panel-link" href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img style="height:100px" src="{{ p.page | page_logo }}">
            </div>
            <div class="media-body">
              <h3>{{ p.title }}</h3>
              <p>{{ p.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-sm-12">
      <h2> Databases </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "tech-database" %}
  <div class="col-sm-6">
    <a href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img style="width:80px" src="{{ p.page | page_logo }}">
            </div>
            <div class="media-body">
              <h3>{{ p.title }}</h3>
              <p>{{ p.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
