---
layout: general
highlight_section: tech
---
<div class="row">
  <div class="col-sm-12">
    <h1> Technology Overviev </h1>
    <ul class="nav nav-tabs nav-tabs-pf">
      <li class="active"><a href="/tech.html">Languages</a></li>
      <li><a href="/tech-database.html">Database</a></li>
    </ul>
    <h2> Languages </h2>
  </div>
</div>
<div class="row">
  {% for p in site.pages %}
  {% if p.section == "tech-languages" %}
  <div class="col-sm-6">
    <a href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img style="height:100px" src="{{ p.page | page_logo }}">
            </div>
            <div class="media-body">
              <h2>{{ p.title }}</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui sem, tincidunt sed tellus at, blandit.</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
