---
layout: general
highlight_section: tools
title: Get tools
description: Prepare your environment with DevAssistant. Collaborate with Docker, Vagrant and Virt-builder. Handle and debug crashes with ABRT.
layout: general
category-name: tools
---
<div class="row">
  <div class="col-sm-12">
    <h2> Development Tools Overview </h2>
  </div>
  {% for p in site.pages %}
  {% if p.section == "tools" %}
  <div class="col-sm-6">
    <a class="panel-link" href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img style="height:100px" src="{{ p.page | page_logo }}">
            </div>
            <div class="media-body">
              <h3>{{ p.title }}</h3>
              <p>{{ p.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
