---
layout: general
highlight_section: tools
title: Get Tools
description: An overview of development tools available in Fedora, including Docker.
layout: general
section: tools
category-name: tools
attribution: Bike Tools in Black and White by Jereme Rauckman on Flickr, CC-BY-2.0
photo-link: https://www.flickr.com/photos/rauckhaus/8638556209/
---
<div class="row">
  <div class="col-sm-12">
    <h1> Tools Overviev </h1>
  </div>
  {% for p in site.pages %}
  {% if p.section == "tools" %}
  <div class="col-sm-6">
    <a href="{{ p.url }}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img style="height:100px" src="{{ p.page | page_logo }}">
            </div>
            <div class="media-body">
              <h2>{{ p.title }}</h2>
              <p>{{ p.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

