<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <a href="/">
          <img src="/static/logo.png" style="height:90px; margin: 20px">
        </a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="{% if page.highlight_section == "home" %} active {%endif%}">
        <a href="/">Home</a>
      </li>
      <li class="{% if page.highlight_section == "tools" %} active {%endif%}">
        <a href="/tools.html">Tools</a>
      </li>
      <li class="{% if page.highlight_section == "tech" %} active {%endif%}">
        <a href="/tech.html">Technology</a>
      </li>
      <li class="{% if page.highlight_section == "deployment" %} active {%endif%}">
        <a href="/deployment.html">Deployment</a>
      </li>
      <!--
      <li class="{% if page.highlight_section == "resources" %} active {%endif%}">
        <a href="/">Resources</a>
      </li>
      <li class="{% if page.highlight_section == "blogs" %} active {%endif%}">
        <a href="/">Blogs</a>
      </li>
      -->
    </ul>
  </div>
</nav>
