<div style="background-color: #333">
<div class="container">
<div style="margin-bottom: 6px; margin-top: 6px" class="alert alert-warning">
<span class="pficon pficon-warning-triangle-o"></span>
  <strong> This is a development server. </strong>
  See the <a href="https://fedoraproject.org/wiki/Websites/Developer"> project wiki </a> for more information.
</div>
</div>
</div>

<div class="container" id="splash">
  <div class="row" id="top">
    <div class="col-sm-2" id="logo-col">
      <div class="text-center">
        <h1>
          <a href="/">
            <img src="/static/logo_white.png" style="height: 46px; width: 152px;">
            <span>Fedora Developer Portal</span>
          </a>
        </h1>
      </div>
    </div>
    <div class="col-sm-8">
      {% include nav.html %}
    </div>
    <div class="col-sm-2">
      {% include search.html %}
    </div>
  <div class="row" id="headlines">
	  <div class="col-sm-12">
		<h2>The developer workstation you've been waiting for.</h2>
		<p>From mobile apps to web; from desktop GUIs to CLI tools. Create it all easily with Fedora.</p>
	  </div>
  </div>
  <div class="row" id="attribution">
    <div class="col-sm-12">
      <a href="https://www.flickr.com/photos/duald/7423940266/">Union Station Abstract</a> by <a href="https://www.flickr.com/photos/duald/">DualD FlipFlop</a> on Flickr, CC-BY-2.0
    </div>
    </div>
  </div>
</div>
