<div style="background-color: #333">
<div class="container">
<div style="margin-bottom: 6px; margin-top: 6px" class="alert alert-warning">
<span class="pficon pficon-warning-triangle-o"></span>
  <strong> This is a development server. </strong>
  See the <a href="https://fedoraproject.org/wiki/Websites/Developer"> project wiki </a> for more information.
</div>
</div>
</div>

<div class="container" id="header">
  <div class="row" id="top">
    <div class="col-sm-2" id="logo-col">
      <div class="text-center">
        <a href="/">
          <img src="/static/logo.png" style="height: 46px; width: 152px;">
          <span>Fedora Developer Portal</span>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      {% include nav.html %}
    </div>
    <div class="col-sm-2">
      {% include search.html %}
    </div>
  </div>
</div>
