<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div style="margin-bottom: 6px; margin-top: 6px" class="alert alert-warning">
        <span class="pficon pficon-warning-triangle-o"></span>
        <strong> This website is just a prototype. </strong>
        For more information about this project, please visit <a href="https://fedoraproject.org/wiki/Websites/Developer"> Fedora Developer Portal project wiki</a>. Ideas and contributions are welcome!
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <a href="/">
          <img src="/static/logo.png" style="height:90px; margin: 20px">
        </a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="{% if page.highlight_section == "home" %} active {%endif%}">
        <a href="/">Home</a>
      </li>
      <li class="{% if page.highlight_section == "start" %} active {%endif%}">
        <a href="/start.html">Start</a>
      </li>
      <li class="{% if page.highlight_section == "tools" %} active {%endif%}">
        <a href="/tools.html">Tools</a>
      </li>
      <li class="{% if page.highlight_section == "tech" %} active {%endif%}">
        <a href="/tech.html">Technology</a>
      </li>
      <li class="{% if page.highlight_section == "deployment" %} active {%endif%}">
        <a href="/deployment.html">Deployment</a>
      </li>
      <!--
      <li class="{% if page.highlight_section == "resources" %} active {%endif%}">
        <a href="/">Resources</a>
      </li>
      <li class="{% if page.highlight_section == "blogs" %} active {%endif%}">
        <a href="/">Blogs</a>
      </li>
      -->
    </ul>
  </div>
</nav>
