<div class="row" id="headlines">
  <div class="col-sm-12">
    {% for p in site.pages %}
      {% if p.subsection == page.subsection %}
        {% if p.section %}
          <img class="img-rounded" src="{{ p.subsection | subsection_logo }}">
          <h2>{{ p.title }}</h2>
          <p>{{ p.description }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="row" id="attribution">
  <div class="col-sm-12">
    <a href="{{ page.photo-link }}">{{ page.attribution }}</a>
  </div>
</div>
