<nav>
  <ul class="nav navbar-nav">
    <li class="{% if page.highlight_section == "start" %} active {%endif%}">
      <a href="/start.html">Start a project</a>
    </li>
    <li class="{% if page.highlight_section == "tools" %} active {%endif%}">
      <a href="/tools.html">Get tools</a>
    </li>
    <li class="{% if page.highlight_section == "tech" %} active {%endif%}">
      <a href="/tech.html">Languages &amp; databases</a>
    </li>
    <li class="{% if page.highlight_section == "deployment" %} active {%endif%}">
      <a href="/deployment.html">Deploy and distribute</a>
    </li>
    <!--
    <li class="{% if page.highlight_section == "resources" %} active {%endif%}">
      <a href="/">Resources</a>
    </li>
    <li class="{% if page.highlight_section == "blogs" %} active {%endif%}">
      <a href="/">Blogs</a>
    </li>
    -->
  </ul>
</nav>
