{% if page.url != '/search.html' %}
<div class="input-group" id="search">
  <div id="search">
    <form action="/search.html" method="get">
      <input type="text" id="search-query" class="form-control" name="q" placeholder="Search" autocomplete="off">
      <span class="input-group-btn">
        <button class="btn btn-default glyphicon glyphicon-search" type="submit" aria-hidden="true"></button>
      </span>
    </form>
  </div>

  <section id="search-results" style="display: none;">
    <div class="entries">
    </div>
  </section>

  {% raw %}
  <script id="search-results-template" type="text/mustache">
    {{#entries}}
      <article>
        <a href="{{url}}">{{title}}</a>
      </article>
    {{/entries}}
  </script>
  {% endraw %}
</div>
{% endif %}
