<div class="input-group" id="search">
  <div id="search">
    <form action="/search" method="get">
      <input type="text" id="search-query" class="form-control" name="q" placeholder="Search" autocomplete="off">
    </form>
  </div>

  <section id="search-results" style="display: none;">
    <div class="entries">
    </div>
  </section>

  {% raw %}
  <script id="search-results-template" type="text/mustache">
    {{#entries}}
      <article>
        <a href="{{url}}">{{title}}</a>
      </article>
    {{/entries}}
  </script>
  {% endraw %}

  <!--
  Uncomment this once the separate /search page is created

  <span class="input-group-btn">
    <button class="btn btn-default glyphicon glyphicon-search" type="button" aria-hidden="true"></button>
  </span>-->
</div>
