{% if page.url != '/search.html' %}
  <form class="input-group" id="search" action="/search.html" method="get">
    <input type="text" id="search-query" class="form-control" name="q" placeholder="Search" autocomplete="off">
    <span class="input-group-btn">
      <button class="btn btn-default glyphicon glyphicon-search" type="submit" aria-hidden="true"></button>
    </span>
  </form>
  <section id="search-results" style="display: none;">
    <div class="entries">
    </div>
  </section>

  {% raw %}
  <script id="search-results-template" type="text/mustache">
    {{#entries}}
      <article>
        <a href="{{url}}">{{title}}</a>
      </article>
    {{/entries}}
  </script>
  {% endraw %}
{% endif %}
