---
layout: default
---
    <!-- The top blue thing -->
    <div id="splash" class="splash-size-small splash-section-{{ page.category-name }}">
      <div class="container">
        {% include top-nav.html %}
        {% include jumbo-content.html %}
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="list-group content-menu">
            {% assign sorted_pages = site.pages | sort: "order" %}
            {% for p in sorted_pages %}
              {% if p.subsection == page.subsection %}
              <a href="{{p.url}}" class="list-group-item {% if p.url == page.url %} active {% endif %}">{{ p.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="panel panel-default">
            <div class="panel-body" style="padding-top:8px;padding-bottom:8px">
              {% include ask_fedora.html %}
            </div>
          </div>

          <a target="_blank" href="https://github.com/developer-portal/content/edit/master{{page.dir}}{{page.name}}" class="btn btn-default">Edit this page</a>
          <a target="_blank" href="https://github.com/developer-portal/content/issues/new?title={{page.category-name}}:+{{page.subsection}}+{{page.name}}&body=Describe+the+problem" class="btn btn-default">Report an issue</a>
        </div>
        <div class="col-sm-9">
          <div class="panel panel-default content-content">
            {% if page.label == "need-help" %}
              {% include content-label-banner.html %}
            {% endif %}
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <!-- Some other stuff -->
    {% include contribute.html %}
