<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
	<div class="title container" id="{{ page.category-name }}">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-6" id="page-title">
			<h1>{{ page.title }}</h1>
		  </div>
		  <div class="col-sm-6" id="page-description">
			<p>{{ page.description }}</p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12">
		    <p id="attribution"><a href="{{ page.photo-link }}">{{ page.attribution }}</a></p>
		  </div>
		</div>
	  </div>
	</div>
    <div class="container">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
