<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="title container" id="{{ page.section }}">
      <div class="container">
	    <div class="row">
		  <div class="col-sm-1" id="page-logo">
                      {% for p in site.pages %}
                      {% if p.page == page.page %}
                        {% if p.section %}
                          <img style="width:100px; padding-top: 30px; padding-right: 20px;" src="{{ p.page | page_logo }}">
                        {% endif %}
                      {% endif %}
                      {% endfor %}
		  </div>	
		  <div class="col-sm-5" id="page-title">
                      {% for p in site.pages %}
                      {% if p.page == page.page %}
                        {% if p.section %}
                          <h1>{{ p.title }}</h1>
                        {% endif %}
                      {% endif %}
                      {% endfor %}
		  </div>
		  <div class="col-sm-6" id="page-description">
                      {% for p in site.pages %}
                      {% if p.page == page.page %}
                        {% if p.section %}
                          <p>{{ p.description }}</p>
                        {% endif %}
                      {% endif %}
                      {% endfor %}
	      </div>
	    </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          {{ content }}
        </div>
        {% assign sorted_pages = site.pages | sort: "order" %}
        <div class="col-sm-3">
          <div class="list-group">
          {% for p in sorted_pages %}
          {% if p.page == page.page %}
            {% if p.section %}
            <a href="{{p.url}}" class="list-group-item {% if p.url == page.url %} active {% endif %}">{{ p.title }}</a>
            {% endif %}
          {% endif %}
          {% endfor %}

          {% for p in sorted_pages %}
          {% if p.page == page.page %}
            {% if p.section %}{% else %}
            <a href="{{p.url}}" class="list-group-item {% if p.url == page.url %} active {% endif %}">{{ p.title }}</a>
            {% endif %}
          {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
