<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="title container" id="{{ page.category-name }}">
      <div class="container">
	    <div class="row">
		  <div class="col-sm-6" id="page-title">
	        <h1>{{ page.title }}</h1>
		  </div>
		  <div class="col-sm-6" id="page-description">
		    <p>{{ page.description }}</p>
	      </div>
	    </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          {{ content }}
        </div>
        {% assign sorted_pages = site.pages | sort: "order" %}
        <div class="col-sm-3">
          <div class="list-group">
          {% for p in sorted_pages %}
          {% if p.page == page.page %}
            {% if p.section %}
            <a href="{{p.url}}" class="list-group-item {% if p.url == page.url %} active {% endif %}">{{ p.title }}</a>
            {% endif %}
          {% endif %}
          {% endfor %}

          {% for p in sorted_pages %}
          {% if p.page == page.page %}
            {% if p.section %}{% else %}
            <a href="{{p.url}}" class="list-group-item {% if p.url == page.url %} active {% endif %}">{{ p.title }}</a>
            {% endif %}
          {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
