<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="title container" id="{{ page.section }}">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12" id="page-logo">
            {% for p in site.pages %}
              {% if p.page == page.page %}
                {% if p.section %}
                  <img class="img-circle" src="{{ p.page | page_logo }}">
                {% endif %}
              {% endif %}
            {% endfor %}
            {% for p in site.pages %}
              {% if p.page == page.page %}
                {% if p.section %}
                  <h1>{{ p.title }}</h1>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-sm-6 Xhidden-xs" id="page-description">
            {% for p in site.pages %}
              {% if p.page == page.page %}
                {% if p.section %}
                  <p>{{ p.description }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% assign sorted_pages = site.pages | sort: "order" %}
        <div class="col-sm-3 col-sm-push-9">
          <div class="list-group">
            {% for p in sorted_pages %}
              {% if p.page == page.page %}
                {% if p.section %}
                <a href="{{p.url}}" class="list-group-item {% if p.url == page.url %} active {% endif %}">{{ p.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% for p in sorted_pages %}
              {% if p.page == page.page %}
                {% if p.section %}{% else %}
                <a href="{{p.url}}" class="list-group-item {% if p.url == page.url %} active {% endif %}">{{ p.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
          {{ content }}
        </div>
        <div class="col-xs-12">
          <hr>
          <div id="ask-fedora">
            Have a question?
            {% if page.page == 'go' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:go,golang/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'python' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:python,python3,flask,django/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'ruby' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:ruby,rails,sinatra/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'perl' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:perl/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'java' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:java,jvm,jar/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'c' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:c,c++,clang,gcc,automake,autoconf/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'node' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:node.js/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'php' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:php,lamp/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'postgresql' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:postgresql/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'sqlite' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:sqlite/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'mariadb' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:mariadb,mysql/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'vagrant' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:vagrant/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'docker' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:docker/page:1/">Ask Fedora.</a>
            {% elsif page.page == 'devassistant' %}
              <a href="//ask.fedoraproject.org/en/questions/scope:all/sort:age-desc/tags:devassistant/page:1/">Ask Fedora.</a>
            {% else %}
              <a href="//ask.fedoraproject.org/">Ask Fedora.</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
